*{
    box-sizing: border-box;
}
.grid {
   
}

.grid-item{
    width: 32%;
    height: 150px;
    display: inline-block;
    margin: 3px;
    background-color: rgba(135,101,219,1);
}
.grid-item:hover, .grid-item:focus, .grid-item:active{
    background-color: rgba(135,101,219,.7);
}

@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
} 
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
} 
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    } 
}

.container-small {
    max-width: 100%;
    margin: 0 auto;
}