*{
  box-sizing: border-box;
}

html, body{
  font-family: Arial, sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container{
  width:80%;
  margin:0 auto;
}

.col-4{
  width:22.5%;
  float:left;
  margin:10px;
}
.btn{
  padding:20px;
  background-color: #efeded;
  margin-top: 1em;
  min-height:100px;
}

.active{
  color:blue;
}

@media(max-width:1020px){
.col-4{
  width:40%;
}
}
@media(max-width:500px){
.col-4{
  width:100%;
}
}

.weather-container{
  background: #CCC;
  text-align: center;
}
.weather {
  font-size: 22px;
  margin: 0;
}
.temp {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.question, .score{
  font-size: 1.4em; 
}
.answer {
  padding: 15px 30px;
  background-color: #333;
  border-radius: 4px;
  min-width: 200px;
  color: #eee;
  text-align:center;
  display: inline-block;
}