*{
  box-sizing: border-box;
}

html, body{
  font-family: Arial, sans-serif;
}
a{
  text-decoration: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container{
  width:80%;
  margin:0 auto;
}

.col-4{
  width:22.5%;
  float:left;
  margin:10px;
}
.btn{
  padding:20px;
  background-color: #efeded;
  margin-top: 1em;
  min-height:100px;
}

.active{
  color:blue;
}

@media(max-width:1020px){
.col-4{
  width:40%;
}
}
@media(max-width:500px){
.col-4{
  width:100%;
}
}

.weather-container{
  background: #CCC;
  text-align: center;
}
.weather {
  font-size: 22px;
  margin: 0;
}
.temp {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.question, .score{
  font-size: 1.4em; 
}
.answer {
  padding: 15px 30px;
  background-color: #333;
  border-radius: 4px;
  min-width: 200px;
  color: #eee;
  text-align:center;
  display: inline-block;
}

.colored-block{
  padding: 10px;
  width: 100px;
  height:100px;
  background-color: rgb(207, 170, 170);
  display: inline-block;
}

.colored-block-red {
  background-color: red;
}
.color-button {
  padding: 10px 20px;
  background-color: #bbb;
  transition: .5s ease;
  display: inline-block;
}
.color-button:focus, .color-button:active, .color-button:hover {
  background-color: rgb(49, 8, 8);
  color: #fff;
  box-shadow: 1px 1px 1px #333;
}

#removeColor{
  display: none;
}

.button--blue{
  padding: 20px 20px;
  display: inline-block;
  background-color: rgb(18, 84, 206);
  border-radius:3px;
  box-shadow: 1px 1px 1px rgb(105, 101, 101);
  color: white;
}
.hidden{
  display: none;
}

.answer{
  text-transform: capitalize;
}
